@using CodeProject.ViewModels
@model CreateEmployeeViewModel
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{ CreateEmployee }

@section HeaderSection{
    <script src="~/Scripts/Validations.js"></script>
    <script>
            function ResetForm() {
                document.getElementById('TxtFName').value = "";
                document.getElementById('TxtLName').value = "";
                document.getElementById('TxtSalary').value = "";
            }
    </script>
}
    
@section ContentBody{
    <div>
        <form class="form-horizontal" action="/Employee/SaveEmployee" method="post">
            <input class="form-control" type="text" id="TxtFName" name="FirstName" placeholder="First Name" value="@Model.FirstName" />@Html.ValidationMessage("FirstName", new { @class = "text-danger", @style = "margin-left:5px" })<br />
            <input class="form-control" type="text" id="TxtLName" name="LastName" placeholder="Last Name" value="@Model.LastName" />@Html.ValidationMessage("LastName", new { @class = "text-danger", @style = "margin-left:5px" })<br />
            <input class="form-control" type="text" id="TxtSalary" name="Salary" placeholder="Salary" value="@Model.Salary" />@Html.ValidationMessage("Salary", new { @class = "text-danger", @style = "margin-left:5px" })<br />
            <input class="btn btn-success" type="submit" name="BtnSubmit" value="Save Employee" onclick="return IsValid()" />
            <input class="btn btn-warning" type="reset" name="BtnReset" value="Reset" />
            <input class="btn btn-default" type="submit" name="BtnSubmit" value="Cancel" />
        </form>
    </div>
}