@using CodeProject.ViewModel
@model BaseViewModel    

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@RenderSection("TitleSection")</title>
    @RenderSection("HeaderSection", false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:initial">
    
    @Html.Partial("Header")

    <div class="container body-content">
        <div>
            
            @RenderSection("ContentBody")
        
        </div>
    </div>

    @Html.Partial("Footer")

</body>
</html>
